<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="../css/left.css">
    <link type="text/css" rel="stylesheet" href="../css/right.css">
    <script src="../js/leftbuttons.js"></script>
    <meta charset="UTF-8">
    <title>Chatting</title>
</head>
<style>
    body{
        padding: 0;
        margin:0 auto;
        position:relative;
    }
</style>
<body >
<div style="margin-left: 20vh;margin-right: 20vh;">
    <div id="left" class="bigleft">
        <div id="left-top" class="left-top">
            <div id="left-top-inforimg" name="left-top-inforimg" class="left-top-img">

            </div>
            <div class="left-top-uname" id="left-top-username" name="left-top-username">
                <h1 id="username"name="username" class="left-top-uname-text">lalalal</h1>
                <p class="left-top-uname-text">fdfdffgf</p>
            </div>
        </div>
        <div id="left-mid" class="left-mid">
            <div id="messagebutton" class="messagebutton" onclick="clickmessagebutton()">
                <p id="msgbutton" name="msgbutton"   class="leftbuttoncss">message</p>
            </div>
            <div id="contactbutton" class="contactbutton" onclick="clickcontactsbutton()">
                <p id="cttbutton" name="cttbutton"   class="leftbuttoncss">contacts</p>
            </div>
        </div>
        <div id="left-bottom" class="left-bottom">

        </div>
    </div>
    <div id="right" class="bigright">
        <div id="right-top" class="right-top">
            <div class="right-top-titlecss" id="right-top-title" name="right-top-title">
                Chatting
            </div>
        </div>
        <div id="right-bottom" class="right-bottom">
            <div class="right-bottom-backgroundcss" id="right-bottom-background" name="right-bottom-background">
                background
            </div>
        </div>
    </div>
    <!--to clear the left css for the right css-->
    <div class="clear"></div>
</div>
</body>
</html>